.main-movies {
    width: 100%;
    background-color: #000;
    min-height: calc(100vh - 90px);
}

.main-movies-area {
    display: flex;
    height: 100%;
    max-width: 1140px;
    margin: auto;
    flex-direction: column;
}

.main-movies-title {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 14px;
}

.main-movies-releases {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.main-movies-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .main-movies-releases {
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        padding: 20px;
    }

    .main-movies-title {
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .main-movies-releases {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .main-movies-releases {
        grid-template-columns: repeat(1, 1fr);
    }
}
