footer {
    display: flex;
    height: 90px;
    margin-top: 30px;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.ri-linkedin-box-fill,
.ri-github-fill {
    font-size: 32px;
    cursor: pointer;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a:hover {
    color: #dedfdf;
}
